:root {
    --bs-font-sans-serif: "farsi-num", "font-primary", Inter, Helvetica, "sans-serif";
}

html, body {
    font-family: "farsi-num", "font-primary", Inter, Helvetica, "sans-serif" !important;
}

:placeholder-shown {
    direction: rtl;
}
