:root {
    --bs-font-sans-serif: "farsi-num", "font-primary", Inter, Helvetica, "sans-serif";
}

html, body {
    font-family: "farsi-num", "font-primary", Inter, Helvetica, "sans-serif" !important;
}

:placeholder-shown {
    direction: rtl;
}

.select2-loading {
    position: absolute;
    top: 55%;
    left: 40px;
    transform: translateY(-50%);
    z-index: 1000;
}
